@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
    background-color: #252422;
    color: #ccc5b9;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@keyframes HamMenueAnimation {
    from {
        right: -10%;
    }

    to {
        right: 0px;
    }
}

@keyframes HamMenueAnimationReverse {
    from {
        right: 0px;
    }

    to {
        right: -10%;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #403d39;
}

::-webkit-scrollbar-thumb {
    background: #eb5e28;
    border-radius: 3px;
}

.rounded {
    border-radius: 0.5rem;
}

footer {
    display: none;
}

footer li {
    display: inline;
}

h1 {
    padding: 1rem;
}

header {
    color: #fffcf2;
}

.orengeBG {
    background-color: #eb5e28;
}

img:hover,
button:hover {
    opacity: 80%;
}

hr {
    border: 0;
    height: 1px;
    width: 90%;
    background: #333;
    background-image: linear-gradient(to right, #252422, #ccc5b9, #252422);
}

.form-group {
    margin: 1rem 0 1rem 0;
}

textarea {
    height: 15rem;
    resize: none;
}

.errorMs {
    font-size: 0.75rem;
    color: red;
    display: none;
}

#ham {
    position: fixed;
    right: 15px;
    top: 10px;
}

#ham_x {
    position: absolute;
    right: 15px;
    top: 10px;
}

.hamXPlaceholder {
    margin: 4rem;
}

.menue {
    position: fixed;
    z-index: 1;
    width: 10%;
    height: 100%;
    right: -10%;
    border: 2px solid #ccc5b9;
}

.menue.enabled {
    animation-name: HamMenueAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.menue.disabled {
    animation-name: HamMenueAnimationReverse;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.item.error {
    border: 2px solid red;
}

.form-group.error .errorMs {
    display: block;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: deepskyblue;
}

a:visited:hover {
    color: rgb(124, 222, 255);
}

@media only screen and (max-width:1140px) {
    .borderimg {
        width: 70%;
        height: 70%;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footerPalceholder {
        display: block;
        margin: 2.5rem;
    }

    .menue,
    #ham {
        display: none;
    }
}

@media only screen and (max-width:500px) {
    #figure {
        display: none !important;
    }

    .footerPalceholder {
        margin: 4rem;
    }
}

::selection {
    color: #403d39;
    background: #eb5e28;
}

.headtxt::selection,
th::selection {
    color: #eb5e28;
    background: #403d39;
}

th,
td {
    border: 1px solid #FFFCF2;
}

th {
    background: #eb5e28;
    color: #FFFCF2;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.justifiedText {
    text-align: justify;
}

ul {
    list-style: none;
}

strong {
    color: #eb5e28;
    font-size: 1.5em;
}